{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 420px;">
    <h1 class="mb-4 text-center">Mot de passe oublié</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button class="btn btn-success w-100 mt-3">
            Envoyer le lien de réinitialisation
        </button>
    {{ form_end(form) }}
</div>
{% endblock %}
