security:
  password_hashers:
    App\Entity\User:
      algorithm: bcrypt

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider

      custom_authenticators:
        - App\Security\LoginFormAuthenticator

      entry_point: App\Security\LoginFormAuthenticator

      logout:
        path: app_logout
        target: app_home

      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /

  access_control:
    - { path: ^/trajet/\d+$, roles: PUBLIC_ACCESS }
    - { path: ^/trajet/\d+/(reserver|reserver/confirm|annuler)$, roles: ROLE_USER }
    - { path: ^/connexion, roles: PUBLIC_ACCESS }
    - { path: ^/inscription, roles: PUBLIC_ACCESS }
    - { path: ^/reset-password, roles: PUBLIC_ACCESS }
    - { path: ^/profil, roles: ROLE_USER }
    - { path: ^/admin, roles: ROLE_ADMIN }
