services:

  php:
    build: .
    container_name: symfolab_php
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html/src:cached
      - ./config:/var/www/html/config:cached
      - ./templates:/var/www/html/templates:cached
      - ./public:/var/www/html/public:cached
    networks:
      - symfo
    depends_on:
      - mariadb
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - APP_ENV=dev
    command: ["php-fpm"]

  nginx:
    image: nginx:latest
    container_name: symfolab_nginx
    ports:
      - "8888:80"
    volumes:
      - ./public:/var/www/html/public:cached
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - symfo

  mariadb:
    image: mariadb:11
    container_name: symfolab_mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfo
      MYSQL_USER: symfo
      MYSQL_PASSWORD: symfo
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfo

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: symfolab_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mariadb
      PMA_USER: symfo
      PMA_PASSWORD: symfo
    ports:
      - "8082:80"
    depends_on:
      - mariadb
    networks:
      - symfo

  mailpit:
    image: axllent/mailpit
    container_name: symfolab_mailpit
    ports:
      - "8026:8025"
      - "2526:1025"
    networks:
      - symfo

volumes:
  db_data:

networks:
  symfo:
