services:

  php:
    build:
      context: .
      args:
        UID: 1000
        GID: 1000
    container_name: symfolab_php
    restart: unless-stopped
    working_dir: /var/www/html
    user: "1000:1000"
    volumes:
      - ./src:/var/www/html/src
      - ./config:/var/www/html/config
      - ./templates:/var/www/html/templates
      - ./public:/var/www/html/public
      - ./docker:/var/www/html/docker
      - ./data:/var/www/html/data
      - ./migrations:/var/www/html/migrations
      - ./docker/php/conf.d/99-memory.ini:/usr/local/etc/php/conf.d/99-memory.ini:ro

    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      APP_SECRET: a71dc8a032995e9fdffdb7146b4492f9
      DATABASE_URL: "mysql://symfo:symfo@mariadb:3306/symfo?charset=utf8mb4"
      MAILER_DSN: smtp://mailpit:1025
      DEFAULT_URI: http://localhost:8888
      TRUSTED_PROXIES: 127.0.0.1
    depends_on:
      - mariadb
    networks:
      - symfo

  nginx:
    image: nginx:latest
    container_name: symfolab_nginx
    restart: unless-stopped
    ports:
      - "8888:80"
    volumes:
      - ./public:/var/www/html/public
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - symfo

  mariadb:
    image: mariadb:11
    container_name: symfolab_mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfo
      MYSQL_USER: symfo
      MYSQL_PASSWORD: symfo
    ports:
      - "3307:3306"
    volumes:
      - symfolab_db_data:/var/lib/mysql
    networks:
      - symfo

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: symfolab_phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mariadb
      PMA_USER: symfo
      PMA_PASSWORD: symfo
    ports:
      - "8082:80"
    depends_on:
      - mariadb
    networks:
      - symfo

  mailpit:
    image: axllent/mailpit
    container_name: symfolab_mailpit
    restart: unless-stopped
    ports:
      - "8026:8025"
      - "2526:1025"
    networks:
      - symfo

volumes:
  symfolab_db_data:

networks:
  symfo:
