{% extends 'base.html.twig' %}

{% block title %}Covoiturer{% endblock %}

{% block body %}
  <div class="container py-5 text-center">
    <h1>Page Covoiturer</h1>
    <p>Contenu à venir…</p>
  </div>
{% endblock %}
