<IfModule mod_rewrite.c>
    RewriteEngine On

    # Laisser passer les fichiers/dossiers physiques
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Tout le reste vers index.php (Symfony)
    RewriteRule . index.php [L]
</IfModule>
